
\.ipynb_checkpoints/

geolife-data/

processed_data.csv

processed_data_2.csv

my_model_2.mlmodel

my_model_3.mlmodel

my_model.mlmodel

processed_data_3.csv

raw_model.txt

trans_mode.mlmodel

trans_mode.txt
